body{
    font-family: 'Merriweather Sans', sans-serif;;
    margin: 0%;
}
.orange-co{
    color: rgb(255, 154, 71);
}
#one{
    display: flex;
    margin-bottom: 110px;
}
.blog h1{
    font-size:50px ;
    margin-top: 80px;
    color: rgb(80, 74, 74);
}
.blog{
    width: 80%;
    padding-left: 8%;
}

h1{
    font-size: 65px;
}    
    
#head{
    margin-top: 50px;
}


.blog img{
    width: 100%;
    
}

.blog p{
    color: rgb(92, 92, 92);
    padding-left: 25px;
}
.click{
    text-decoration: none;
    background: linear-gradient(rgb(247, 160, 90), rgb(245, 99, 73));  
    padding: 15px 30px;
    border-radius: 30px;
    color: whitesmoke;
 box-shadow: 2px 2px 10px rgb(236, 131, 61) ;
 }
.two{
    display: flex;
    background-image: url(images/three.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;       
    background-size: cover;
}
.about{
    width: 100%;
    margin: 0px 50px;
    margin-top: 100px;
}
.about img{
    width: 55%;
   padding-left: 200px ;
}
#about-me{
margin-right: 150px;
padding: 75px 50px;
color: rgb(92, 92, 92);
}
.card{
    width: 50%;
    margin: 0% 5% 5% 2%;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 3px 3px 10px gray;  
}
#recipe{
text-align: center;
padding: 2% 25%;
color: rgb(63, 60, 60);
}
.card img{
width: 100%;

}
.box{
    display: flex
}
.foot{
   background-color: black;
 color: white;
 text-align: center;
 
}
#network{
    color: gray;
    
}
